/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 6, 2016, 1:49:32 PM
    Author     : vaterp
*/
.gwt-SuggestBoxPopup .item {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 300px;
}

.input-field {
    height: 30px !important;
}

.input-field input {
    height: 30px !important;
}

ul.multiValueSuggestBox-list .chip {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px;
}

.grid-small-padding td{
    padding: .5rem !important;
}
 .grid {
        padding: 10px;
        }

        .headerItems {
        padding: 20px 20px 0px 20px;
        }

        .headerItems i {
        opacity: 0.71;
        cursor: pointer;
        }
         .bottomLine{
        border-bottom:solid grey 1px;
        clear:both;
        width:100%;
        }
        
  .btn i, .btn-large i, .btn-floating i, .btn-large i, .btn-flat i {
  font-size: 12px;
  line-height: inherit; }

.btn, .btn-large {
  text-decoration: none;
  color: white;
  background-color: #42a5f5;
  text-align: center;
  letter-spacing: .5px;
  transition: .2s ease-out;
  cursor: pointer; }
  .btn:hover, .btn-large:hover {
    background-color: #5ab1f6; }

.btn-floating {
  display: inline-block;
  color: white;
  position: relative;
  overflow: hidden;
  z-index: 1;
  width: 10px;
  height: 10px;
  line-height: 20px;
  padding: 0;
  background-color: #42a5f5;
  border-radius: 20%;
  transition: .3s;
  cursor: pointer;
  vertical-align: middle; }
.b{
    border-bottom: 2px solid blue;
}

.serviceheader{
    background-color:white;
    color:grey;
    
}
       
       